@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.project {
  width: 350px;
  /*background-color: #EEE2DC;*/
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 30px 30px 30px;

  .image {
    height: 160px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .button {
      height: 40px;
      width: 150px;
      margin-top: 17%;
      border: none;
      font-size: 16px;
      background-color: $primaryColor;
      position: relative;
      z-index: 1;
      color: $textColor;
        &:hover {
            height: 42px;
            width: 152px;
        }

        &:active {
            background-color: $primaryColor;
            height: 40px;
            width: 150px;
        }
    }
  }

  .projectIfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2, $titleColor);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 12px, 1.8, $textColor);
      font-weight: 400;
    }
  }
}









