@import "../../common/styles/sass/variables";

.projectsBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    .projects {
      //margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media only screen and (max-device-width: 1024px) {
        justify-content: center;

      }
    }
  }
}


