@import "../../common/styles/sass/variables";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;
  //  /*background-color: #C38D9D;*/
  //  //background-color: $bgColor;
}

//.mainContainer {
//  background-color: $bgColor;
//  min-height: 100vh;
//  min-width: 100%;
//  //background-position: center;
//  //background-repeat: no-repeat;
//  //background-size: cover;
//  position: relative;
//}

.left {
  width: 50%;
  height: 100%;
  background-color: $bgSecondColor;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .titleText {
    position: relative;
    font-family: $titleFontFamily;
    color: $bgColor;
    text-align: right;
    font-size: 5vw;
    font-weight: 800;
    top: 10%;
  }
}


.right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: $bgColor;
  transform: translate(-50%, -50%);

  .titleText {
    position: relative;
    font-family: $titleFontFamily;
    color: $textColor;
    text-align: left;
    font-size: 5vw;
    font-weight: 800;
    top: 10%;
  }
}


.greetingAvatar {
  width: 25vw;
  transform: rotate(28deg);
  display: block;
  position: sticky;
  margin-top: 42vh;
  margin-left: 39%;
  z-index: 0;
}


