@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.skill {
    //width: 250px;
   // margin: 10px;
    //margin-bottom: -10px;
    //background-color: $bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $textColor;
    .icon {
        margin: 15px;
        height: 12vh;
        width: 12vh;
        :hover {
            transform: scale(1.1);
            transition: transform .2s;
        }

        .iconName {
            display: none;
            position: relative;
            margin: 0 auto;
            bottom: 50%;
            height: 30px;
            width: 100%;
            /*border: 3px solid $textColor;
            background-color: #A8DADC;
            opacity: 0.6;*/
            font-size: 20px;
            font-family: $textFontFamily;
            color: $textColor;
            text-align: center;

        }
        :hover + .iconName, .iconName:hover {
            display: inline-block;

        }
    }
    .skillTitle {
        @include text($titleFontFamily, 16px, 1.2, $titleColor);
        letter-spacing: 1px;
        margin: 0 0 5px;
    }

    .description {
        @include text($textFontFamily, 12px, 1.8, $textColor);
        font-weight: 400;
    }
}
